<mat-card class="container">
  <mat-progress-spinner *ngIf="isLoading" class="spinner" mode="indeterminate" color="primary">
  </mat-progress-spinner>
  <div *ngIf="errorMessage" class="error-container">
    <mat-card class="error-card">
      <mat-card-content>
        <mat-icon color="warn">error_outline</mat-icon>
        <p>{{ errorMessage }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" routerLink="/add-commitment" class="register-button">
    Cadastrar Compromisso
  </button>
  <div *ngIf="!isLoading && commitments.length > 0" class="commitments-list">
    <mat-card *ngFor="let commitment of commitments" class="commitment-card">
      <mat-card-header>
        <mat-card-title>{{ commitment.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ commitment.description }}</p>
        <mat-chip-listbox aria-label="Detalhes do Compromisso">
          <mat-chip color="primary" selected>
            <mat-icon>event</mat-icon>
            {{ commitment.date | date: 'dd/MM/yyyy' }}
          </mat-chip>
          <mat-chip color="accent" selected>
            <mat-icon>schedule</mat-icon>
            {{ commitment.time }}
          </mat-chip>
        </mat-chip-listbox>
        <div class="actions">
          <button mat-icon-button color="accent" (click)="editCommitment(commitment)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCommitment(commitment.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card *ngIf="!isLoading && commitments.length === 0" class="no-items">
    Nenhum compromisso encontrado.
  </mat-card>
</mat-card>
